@font-face { font-family: comfortaa; 
  src: url('./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf'); } 

:root {
  --primary-color: #c5b9dd;
  --darker-primary: #89819A;
  --secondary-color: #f1f63dff;
  --tertiary-color: #ace5ccff;
  --quaternary-color: #ffffff;
}

* {
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
}

/* header styles */
header {
  padding: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--primary-color);
}

header nav {
  margin: 5px 5px;
  height: fit-content;
  padding: 5px;
  border: #89819A solid 3px;
  border-radius: 35px;
  background: var(--tertiary-color);
  width: 100%;
  font-family: 'comfortaa';
  height: 90px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li {
  color: var(--darker-primary);
  font-weight: lighter;
  font-size: 23px;
  display: inline;
}


header nav ul li div p {
  font-size: 30px;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 43px;
  color: var(--darker-primary);
  background: var(--quaternary-color);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--darker-primary);
}

header nav ul li a {
  padding: 10px 10px;
  font-size: 23px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--darker-primary);
  border-radius: 25px;
  text-shadow: none;
}

/* hero section styling */
.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: auto;
  background: var(--primary-color);
  border: none;
}

.hero-bio {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--quaternary-color);
  font-size: 30px;
}

.hero-bio h1 {
  font-weight: bolder;
}

.hero-bio p {
  font-weight: lighter;
}

.hero-image img {
  height: 550px;
  width: 400px;
  border: var(--quaternary-color) 10px solid;
  border-radius: 35px;
}

/*section header styling */
.section-header {
  margin: 10px 10px;
  padding: 5px;
  border: var(--tertiary-color) solid 3px;
  border-radius: 35px;
  background: var(--secondary-color);
  width: 100%;
  font-family: 'comfortaa';
  height: 90px;
  display: flex;
  flex-wrap: wrap;
}

.section-header ul li {
  color: var(--darker-primary);
  font-weight: lighter;
  font-size: 23px;
  display: inline;
  list-style: none;
}

.key {
  font-size: 30px;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 43px;
  color: var(--darker-primary);
  background: var(--quaternary-color);
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


/* about me section styling */
section {
  display: flex;
  flex-wrap: wrap;
  border-radius: 35px;
  margin: 15px;
}

.about-me {
  background: var(--quaternary-color);
  border: var(--darker-primary) solid 5px;
}

.am-bio {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.am-image img {
  height: 300px;
  width: 220px;
  border: 5px solid var(--primary-color);
  border-radius: 35px;
}

.bio-text {
  font-family:'comfortaa';
  font-size: 20px;
  padding: 0px;
  margin: 20px;
  color: var(--darker-primary);
}

/* work section styling */
.work {
  background: var(--darker-primary);
  border: var(--quaternary-color) solid 5px;
}

.run-buddy a img {
  height: 390px;
  width: 700px;
}

/* resume section styling */
.resume {
  background: var(--quaternary-color);
  border: var(--darker-primary) solid 5px;
}

/* contact me section styling */
.contact-me {
  background: var(--darker-primary);
  border: var(--quaternary-color) solid 5px;
}

.cm-info {
  font-family:'comfortaa';
  font-size: 20px;
  padding: 0px;
  margin: 20px;
  color: var(--tertiary-color);
}

.cm-info ul li {
  color: var(--quaternary-color);
  list-style: none;
  display: inline;
}